/* footer */

.footer__offices {
  margin-top: 15px;
  padding: 15px 0;
}

.footer__classes {
  background-color: #0d0e15;
  padding: 15px 0;
  margin-top: 15px;
}

.map {
  margin-top: 20px;
  text-align: center;
  height: 480px;
}

.map iframe {
  pointer-events: none;

}

@media screen and (max-width: 480px) {
  .map {
    height: 320px;
  }
}

.footer__title {
  margin-top: 100px;
  text-align: center;
}

.footer__content {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__wrapper {
  padding: 30px;
  width: 50%;
  border-bottom: 2px dashed #ff9d2d;
}

.footer__wrapper:nth-child(odd) {
  border-right: 2px dashed #ff9d2d;
}

.footer__wrapper:nth-last-child(-n+2) {
  border-bottom: none;
}

.metro {
  position: relative;
  padding-left: 25px;
  display: inline-block;
}

.metro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../img/metro.png);
  background-size: contain;
  margin: 3px 0 0 0;
}

b {
  color: #de5200;
  font-weight: bold;
}

.footer__phone {
  display: flex;
  flex-direction: column;
}

.footer__phone a,
.footer__email a {
  color: #fedc18;
  transition: all 0.5s ease 0s;
  padding: 3px 0;
}


.footer__phone a:hover,
.footer__email a:hover,
.footer__phone a:active,
.footer__email a:active {
  text-transform: uppercase;
  color: #de5200;
  text-decoration: underline;
}

.footer__icons img {
  width: 30px;
  margin: 0px 0 -7px 0;
}

.footer__copyright {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.footer__copyright a {
  width: 30px;
  align-items: center;
  height: 30px;
}

.footer__text {
  margin: 10px 0;
  text-align: center;
}

.footer__text h3 {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .footer__content {
    flex-direction: column;
    margin: 20px 0;
  }

  .footer__wrapper {
    text-align: center;
    border-bottom: 2px dashed #ff9d2d;
    width: 100%;
  }

  .footer__wrapper:last-child {
    border-top: 2px dashed #ff9d2d;
    margin-left: 0;
  }

  .footer__wrapper:nth-child(odd) {
    border-right: none;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 20px;
  }

  .footer__title {
    margin-top: 20px;
  }

  .footer__wrapper {
    padding: 0 0 25px 0;


  }

  .footer__wrapper:last-child {
    border-top: 2px dashed #ff9d2d;
  }

  .footer__adress {
    margin-top: 20px;
  }
}